

body{
    background-color: #0169a6;
    color: #e9c920;
}

#mainTitle{
    text-align: center;
    /* margin-top: 30px; */
}

#hintImage{
    /* background-color: rgba(137, 43, 226, 0.5); */
    text-align: center;
    color: #ff3b2b;
    text-shadow: 2px 2px 7px #111111;
}

#hintCanvas{
    height: 200px;
}

#gameArea{
    /* background-color: rgba(255, 60, 0, 0.5); */
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 7px #111111;
}

#guesses{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 7px #111111;
    color: beige;
}


