

body{
    background-color: #0169a6;
    color: #e9c920;
}

h3{
    color: rgb(211, 211, 211);
}

#mainTitle{
    text-align: center;
    /* margin-top: 30px; */
}

#hintImage{
    /* background-color: rgba(137, 43, 226, 0.5); */
    text-align: center;
    color: #ff3b2b;
    text-shadow: 2px 2px 7px #111111;
}

#hintCanvas{
    height: 200px;
    border: 6px solid #e9c920;
}

#gameArea{
    /* background-color: rgba(255, 60, 0, 0.5); */
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 7px #111111;
}

#guesses{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 7px #111111;
    color: rgb(211, 211, 211);
}

li{
    color: rgb(211, 211, 211);
    font-size: 15px;
}

#footerNav{
    position: fixed;
    bottom: 0;
    z-index: 1030;
    max-width: 100%;
}

#footerLine {
	background-color: #e9c920;
	height: 5px;
}

#footer{
    background-color: rgb(42, 42, 42);
	text-align: center;
	font-size: 10px;
}

#gameMessage{
    color: #ff3b2b;
    font-size: 3.5rem;
    padding: 20px;
}

#sm{
    color: #e9c920;
    font-size: 1.25rem;
}
